{{ extends "global/Page.html" }}
{{ extends "base.html" }}

{{ block content }}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper">
            <div class="content d-flex flex-column flex-column-fluid">
                <div class="subheader py-2 py-lg-6 subheader-transparent">
                    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap" >
                        <div class="d-flex align-items-center flex-wrap mr-1" >
                            <div class="d-flex align-items-baseline flex-wrap " >
                                <h5 class="text-dark font-weight-bold my-1 "> 
                                     </h5>
                                
                            </div>
                        </div>
                        <img src="{% static 'logoGray.png' %}"
                            style="width: 100px; height: 100px; object-fit: contain;  "
                        />
                    </div>
                </div>
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        <div class="card card-custom">
                            <div class="card-body p-0">
                                <div data-wizard-state="step-first" data-wizard-clickable="false"
                                    class="wizard wizard-2">
                                    <div onclick="toggle(event)">

                                        <div class="wizard-nav border-right pt-8 px-8 pt-lg-20 px-lg-10 ">
                                            <div class="wizard-steps">
                                                <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                    data-wizard-state="current">
                                                    <div class="wizard-wrapper ng-star-inserted">

                                                        <div class="wizard-label">
                                                            <h3 class="wizard-title">
                                                                قيم وضعك
                                                                المالي
                                                            </h3>
                                                            <div class="wizard-desc text-mute font-weight-bold">
                                                                قيم وضعك
                                                                المالي
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="accordionPanelsStayOpenExample" class="accordion-collapse collapse ">
                                            <div class="wizard-nav border-right  px-8  px-lg-10 accordion">
                                                <div id="panelsStayOpen-collapseOne" class="wizard-steps"
                                                    aria-labelledby="panelsStayOpen-headingOne">

                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                        data-wizard-state="">
                                                        <div class="wizard-wrapper ng-star-inserted">
                                                            <div class="wizard-icon ng-star-inserted">
                                                                <span><svg id="check-mark"
                                                                        xmlns="http://www.w3.org/2000/svg" width="20.05"
                                                                        height="20.05" viewBox="0 0 20.05 20.05">
                                                                        <g id="Group_215" data-name="Group 215">
                                                                            <path id="Path_246" data-name="Path 246"
                                                                                d="M17.113,17.113a10.024,10.024,0,1,0-14.177,0A10.023,10.023,0,0,0,17.113,17.113ZM6.431,8.493l2.254,2.254,4.938-4.934L15.37,7.56l-4.934,4.934L8.685,14.241,6.938,12.494,4.684,10.24Z"
                                                                                fill="#12a8c0"></path>
                                                                        </g>
                                                                    </svg></span>
                                                            </div>
                                                            <div class="wizard-label">
                                                                <h3 class="wizard-title">
                                                                    ساعد البنك في تجربة الدراسة
                                                                </h3>
                                                                <div class="wizard-desc text-mute font-weight-bold">
                                                                    ساعد البنك في تجربة الدراسة
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                        data-wizard-state="current">
                                                        <div class="wizard-wrapper ng-star-inserted">
                                                            <div class="wizard-label">
                                                                <h3 class="wizard-title">
                                                                    قيم وضعك
                                                                    المالي
                                                                </h3>
                                                                <div class="wizard-desc text-mute font-weight-bold">
                                                                    قيم وضعك
                                                                    المالي
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                        data-wizard-state="">
                                                        <div class="wizard-wrapper ng-star-inserted">
                                                            <div class="wizard-label">
                                                                <h3 class="wizard-title">التحليل
                                                                    المالي</h3>
                                                                <div class="wizard-desc text-mute font-weight-bold">
                                                                    التحليل
                                                                    المالي</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                    data-wizard-state="">
                                                    <div class="wizard-wrapper ng-star-inserted">
                                                        <div class="wizard-label">
                                                            <h3 class="wizard-title">
                                                                بيانات طلب التمويل</h3>
                                                            <div class="wizard-desc text-mute font-weight-bold">
                                                                
                                                                بيانات طلب التمويل</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                        data-wizard-state="">
                                                        <div class="wizard-wrapper ng-star-inserted">
                                                            <div class="wizard-label">
                                                                <h3 class="wizard-title">نتيجة التحليل
                                                                    المالي</h3>
                                                                <div class="wizard-desc text-mute font-weight-bold">
                                                                    نتيجة
                                                                    التحليل المالي</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-wizard-state="step-first" data-wizard-clickable="true"
                                        class="wizard-body wizard wizard-3">

                                        <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                                            <div class="col-xl-12 col-xxl-12">
                                                {% load otree static %}

                                                <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                                                    <div class="col-xl-6">
                                                        <div class="form-floating">
                                                            <input type="text" formcontrolname="monthlyIncome"
                                                                placeholder="don't remove it"
                                                                class="form-control ng-untouched ng-pristine ng-invalid convert-to-number"
                                                                name="monthlyIncome" id="monthlyIncome" min="0"
                                                                max="100000" step="{{ step }}" {% if
                                                                form.monthlyIncome.errors %} style="border-color: red;"
                                                                {% endif %}><label for="floatingPassword">كم
                                                                دخلك
                                                                الشهري</label>
                                                        </div>
                                                        {{ if form.monthlyIncome.errors }}
                                                        <div class="text-danger">{{ form.monthlyIncome.errors.0 }}</div>
                                                        {{ endif }}

                                                    </div>
                                                    <div
                                                        class="col-xl-6 mt-5 mb-8 bg-light p-6 br-1rem font-size-lg checkbox-inline">
                                                        <label
                                                            class="checkbox checkbox-rounded checkbox-lg text-dark-75 font-size-xl font-weight-bolder"><input
                                                                id="traceMyIncomeAndExpenses"
                                                                name="traceMyIncomeAndExpenses" type="checkbox"
                                                                formcontrolname="traceMyIncomeAndExpenses"
                                                                for="traceMyIncomeAndExpenses"
                                                                class="ng-untouched ng-pristine ng-valid"><span
                                                                class="border-primary"></span>أقوم بمتابعة
                                                            وتسجيل دخلي ومصروفاتي</label>
                                                    </div>
                                                    <div
                                                        class="col-xl-6 mt-5 mb-8 bg-light p-6 br-1rem font-size-lg checkbox-inline">
                                                        <label
                                                            class="checkbox checkbox-rounded checkbox-lg text-dark-75 font-size-xl font-weight-bolder"><input
                                                                type="checkbox" formcontrolname="canPayMyBillsEasily"
                                                                id="canPayMyBillsEasily" name="canPayMyBillsEasily"
                                                                for="canPayMyBillsEasily"
                                                                class="ng-untouched ng-pristine ng-valid"><span
                                                                class="border-primary"></span>أستطيع دفع
                                                            فواتيري ومصاريفي الشهرية بسهولة</label>
                                                    </div>

                                                    <div
                                                        class="col-xl-6 mt-5 mb-8 bg-light p-6 br-1rem font-size-lg checkbox-inline">
                                                        <label
                                                            class="checkbox checkbox-rounded checkbox-lg text-dark-75 font-size-xl font-weight-bolder"><input
                                                                type="checkbox"
                                                                formcontrolname="alreadyHaveFinancialGoals"
                                                                id="alreadyHaveFinancialGoals"
                                                                name="alreadyHaveFinancialGoals"
                                                                for="alreadyHaveFinancialGoals"
                                                                class="ng-untouched ng-pristine ng-valid"><span
                                                                class="border-primary"></span>لدي أهداف
                                                            مالية أطمح لتحقيقها</label>
                                                    </div>
                                                    <div class="col-xl-6 mb-5">
                                                        <div class="form-floating">
                                                            <input numbersonly="" type="text"
                                                                formcontrolname="monthlyEssentialExpensesSum"
                                                                placeholder="don't remove it"
                                                                id="monthlyEssentialExpensesSum"
                                                                name="monthlyEssentialExpensesSum"
                                                                class="form-control ng-untouched ng-pristine ng-invalid convert-to-number"
                                                                min="0" max="100000" step="{{ step }}" {% if
                                                                form.monthlyEssentialExpensesSum.errors %}
                                                                style="border-color: red;" {% endif %}><label
                                                                for=" floatingPassword">
                                                                مجموع مصروفاتك
                                                                الأساسية مثل (السكن، الأكل التعليم....)
                                                            </label>
                                                        </div>
                                                        {{ if form.monthlyEssentialExpensesSum.errors }}
                                                        <div class="text-danger">{{
                                                            form.monthlyEssentialExpensesSum.errors.0 }}</div>
                                                        {{ endif }}
                                                    </div>
                                                    <div class="col-xl-6 mb-5">
                                                        <div class="form-floating">
                                                            <input type="text" numbersonly=""
                                                                formcontrolname="monthlyLuxuryExpensesSum"
                                                                placeholder="don't remove it"
                                                                class="form-control ng-untouched ng-pristine ng-invalid convert-to-number"
                                                                id="monthlyLuxuryExpensesSum"
                                                                name="monthlyLuxuryExpensesSum" min="0" max="100000"
                                                                step="{{ step }}" {% if
                                                                form.monthlyLuxuryExpensesSum.errors %}
                                                                style="border-color: red;" {% endif %}><label
                                                                for="floatingPassword">مجموع
                                                                مصروفاتك
                                                                الثانوية مثل (الترفيه، السفر، المطاعم....)
                                                            </label>
                                                        </div>
                                                        {{ if form.monthlyLuxuryExpensesSum.errors }}
                                                        <div class="text-danger">{{
                                                            form.monthlyLuxuryExpensesSum.errors.0 }}</div>
                                                        {{ endif }}
                                                    </div>
                                                    <div class="col-xl-6 mb-5">
                                                        <div class="form-floating ng-star-inserted"><input type="text"
                                                                numbersonly="" formcontrolname="monthlyDebtExpenses"
                                                                placeholder="don't remove it"
                                                                class="form-control ng-untouched ng-pristine ng-invalid convert-to-number"
                                                                id="monthlyDebtExpenses" name="monthlyDebtExpenses"
                                                                min="0" max="100000" step="{{ step }}" {% if
                                                                form.monthlyDebtExpenses.errors %}
                                                                style="border-color: red;" {% endif %}><label
                                                                for="floatingPassword">كم
                                                                من دخلك يذهب لسداد
                                                                الديون </label></div>
                                                        {{ if form.monthlyDebtExpenses.errors }}
                                                        <div class="text-danger">{{ form.monthlyDebtExpenses.errors.0 }}
                                                        </div>
                                                        {{ endif }}

                                                    </div>
                                                    <div class="col-xl-6 mb-5">
                                                        <div class="form-floating">
                                                            <input type="text" numbersonly=""
                                                                formcontrolname="monthlySaving"
                                                                placeholder="don't remove it"
                                                                class="form-control ng-untouched ng-pristine ng-invalid convert-to-number"
                                                                id="monthlySaving" name="monthlySaving" min="0"
                                                                max="100000" step="{{ step }}" {% if
                                                                form.monthlySaving.errors %} style="border-color: red;"
                                                                {% endif %}><label for="floatingPassword">كم
                                                                ادخارك الشهري
                                                                ؟</label>
                                                        </div>
                                                        {{ if form.monthlySaving.errors }}
                                                        <div class="text-danger">{{ form.monthlySaving.errors.0 }}
                                                        </div>
                                                        {{ endif }}
                                                    </div>
                                                    <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                                        <button id="Next"
                                                            class="btn btn-primary font-weight-bolder text-uppercase px-10 o-tree-btn-next">
                                                            التالي</button>

                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // get all input with class of convert-to-number;
    var inputs = document.querySelectorAll('.convert-to-number');
    // lesten to on change event
    inputs.forEach(input => {
        input.addEventListener('change', function () {
            // convert the value to number
            var value = this.value;
            // convert arabic numbers to english
            let arabic = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g];
            let english = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
            value = value.toString();
            for (var i = 0; i < 10; i++) {
                value = value.replace(arabic[i], english[i]);
            }
            console.log(value, "vallue")
            value = parseFloat(value);
            // check if the value is not a number
            if (isNaN(value)) {
                // set the value to 0
                this.value = 0;
            } else {
                // set the value to the number
                this.value = value;
            }
        })

    })
</script>

<script>
    // Toggle Accordion Item #1
    function toggle(event) {
        var myCollapse = document.getElementsByClassName('collapse')[0];
        var bsCollapse = new bootstrap.Collapse(myCollapse, {
            toggle: true
        });
    }
</script>



{{ endblock }}