{{ extends "global/Page.html" }}
{{ extends "base.html" }}

{{ block content }}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper">
            <div class="content d-flex flex-column flex-column-fluid">
                <div class="subheader py-2 py-lg-6 subheader-transparent">
                    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap" >
                        <div class="d-flex align-items-center flex-wrap mr-1" >
                            <div class="d-flex align-items-baseline flex-wrap " >
                                <h5 class="text-dark font-weight-bold my-1 "> مراحل
                                    التحليل المالي</h5>
                                
                            </div>
                        </div>
                        <img src="{% static 'icon.jpeg' %}"
                            style="width: 100px; height: 100px; object-fit: contain; filter: drop-shadow(#00000010 1rem 1rem 10px);"
                        />
                    </div>
                </div>
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        <div class="card card-custom">
                            <div class="card-body p-0">
                                <div id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="false"
                                    class="wizard wizard-2">
                                    <div onclick="toggle(event)">

                                        <div class="wizard-nav border-right pt-8 px-8 pt-lg-20 px-lg-10 ">
                                            <div class="wizard-steps">
                                                <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                    data-wizard-state="current">
                                                    <div class="wizard-wrapper ng-star-inserted">

                                                        <div class="wizard-label">
                                                            <h3 class="wizard-title">
                                                                التحليل
                                                                    المالي
                                                            </h3>
                                                            <div class="wizard-desc text-mute font-weight-bold">
                                                                التحليل
                                                                المالي
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="accordionPanelsStayOpenExample" class="accordion-collapse collapse ">
                                            <div class="wizard-nav border-right  px-8  px-lg-10 accordion">
                                                <div id="panelsStayOpen-collapseOne" class="wizard-steps"
                                                    aria-labelledby="panelsStayOpen-headingOne">

                                                    
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                        data-wizard-state="">
                                                        <div class="wizard-wrapper ng-star-inserted">
                                                            <div class="wizard-icon ng-star-inserted">
                                                                <span><svg id="check-mark"
                                                                        xmlns="http://www.w3.org/2000/svg" width="20.05"
                                                                        height="20.05" viewBox="0 0 20.05 20.05">
                                                                        <g id="Group_215" data-name="Group 215">
                                                                            <path id="Path_246" data-name="Path 246"
                                                                                d="M17.113,17.113a10.024,10.024,0,1,0-14.177,0A10.023,10.023,0,0,0,17.113,17.113ZM6.431,8.493l2.254,2.254,4.938-4.934L15.37,7.56l-4.934,4.934L8.685,14.241,6.938,12.494,4.684,10.24Z"
                                                                                fill="#12a8c0"></path>
                                                                        </g>
                                                                    </svg></span>
                                                            </div>
                                                            <div class="wizard-label">
                                                                <h3 class="wizard-title">
                                                                    قيم وضعك
                                                                    المالي
                                                                </h3>
                                                                <div class="wizard-desc text-mute font-weight-bold">
                                                                    قيم وضعك
                                                                    المالي
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                        data-wizard-state="current">
                                                        <div class="wizard-wrapper ng-star-inserted">
                                                            <div class="wizard-label">
                                                                <h3 class="wizard-title">التحليل
                                                                    المالي</h3>
                                                                <div class="wizard-desc text-mute font-weight-bold">
                                                                    التحليل
                                                                    المالي</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                    data-wizard-state="">
                                                    <div class="wizard-wrapper ng-star-inserted">
                                                        <div class="wizard-label">
                                                            <h3 class="wizard-title">
                                                                بيانات طلب التمويل</h3>
                                                            <div class="wizard-desc text-mute font-weight-bold">
                                                                
                                                                بيانات طلب التمويل</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div data-wizard-type="step" class="wizard-step ng-star-inserted"
                                                        data-wizard-state="">
                                                        <div class="wizard-wrapper ng-star-inserted">
                                                            <div class="wizard-label">
                                                                <h3 class="wizard-title">نتيجة التحليل
                                                                    المالي</h3>
                                                                <div class="wizard-desc text-mute font-weight-bold">
                                                                    نتيجة
                                                                    التحليل المالي</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true"
                                        class="wizard-body wizard wizard-3">

                                        <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                                            <div class="col-xl-12 col-xxl-12 col-12">
                                                {% load otree static %}
                                                <form class="ng-untouched ng-pristine ng-invalid ng-star-inserted">


                                                    <div class="col-lg-6 mb-4 ng-star-inserted">
                                                        <label class="font-size-xl">هل لديك شهادة عمل حر ؟
                                                        </label>
                                                        <label class="option p-4 ng-star-inserted " {% if
                                                            form.have_freelance_certificate.errors %} style="border-color: red;" {% endif %}>
                                                            <span class="option-label">
                                                                <span class="option-head">
                                                                    <span class="option-title">
                                                                        نعم
                                                                    </span>
                                                                </span>
                                                            </span>
                                                            <span class="option-control">
                                                                <span class="radio radio-outline">
                                                                    <input name="have_freelance_certificate" type="radio" value="1"
                                                                        class="ng-untouched ng-pristine ng-invalid my-radio"></span>
                                                            </span>
                                                            <span id="male-svg" style="display: none;">
                                                                <svg id="check-mark" xmlns="http://www.w3.org/2000/svg"
                                                                    width="20.05" height="20.05"
                                                                    viewBox="0 0 20.05 20.05">
                                                                    <g id="Group_215" data-name="Group 215">
                                                                        <path id="Path_246" data-name="Path 246"
                                                                            d="M17.113,17.113a10.024,10.024,0,1,0-14.177,0A10.023,10.023,0,0,0,17.113,17.113ZM6.431,8.493l2.254,2.254,4.938-4.934L15.37,7.56l-4.934,4.934L8.685,14.241,6.938,12.494,4.684,10.24Z"
                                                                            fill="#12a8c0"></path>
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </label>
                                                        <label class="option p-4 ng-star-inserted" {% if form.have_freelance_certificate.errors
                                                            %} style="border-color: red;" {% endif %}>
                                                            <span class="option-label">
                                                                <span class="option-head">
                                                                    <span class="option-title">
                                                                        لا
                                                                    </span>
                                                                </span>
                                                            </span>
                                                            <span class="option-control">
                                                                <span class="radio radio-outline">
                                                                    <input name="have_freelance_certificate" type="radio" value="0"
                                                                        class="ng-untouched ng-pristine ng-invalid my-radio">

                                                                </span>
                                                            </span>
                                                            <span id="female-svg" style="display: none;">
                                                                <svg id="check-mark" xmlns="http://www.w3.org/2000/svg"
                                                                    width="20.05" height="20.05"
                                                                    viewBox="0 0 20.05 20.05">
                                                                    <g id="Group_215" data-name="Group 215">
                                                                        <path id="Path_246" data-name="Path 246"
                                                                            d="M17.113,17.113a10.024,10.024,0,1,0-14.177,0A10.023,10.023,0,0,0,17.113,17.113ZM6.431,8.493l2.254,2.254,4.938-4.934L15.37,7.56l-4.934,4.934L8.685,14.241,6.938,12.494,4.684,10.24Z"
                                                                            fill="#12a8c0"></path>
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </label>
                                                        {{ if form.have_freelance_certificate.errors }}
                                                        <div class="text-danger">{{ form.have_freelance_certificate.errors.0 }}</div>
                                                        {{ endif }}
                                                    </div>

                                                    <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                                        <button id="Next"
                                                            class="btn btn-primary font-weight-bolder text-uppercase px-10 o-tree-btn-next">
                                                            التالي</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    // JavaScript function to display the selected SVG
    function showSelectedSVG(selectedValue) {
        console.log(selectedValue);
        // Get the SVGs
        const svgMale = document.getElementById('male-svg');
        const svgFemale = document.getElementById('female-svg');
        if (selectedValue == '1') {
            svgMale.style.display = 'block';
            svgFemale.style.display = 'none';
            svgFemale.value = '';
        } else {
            svgMale.style.display = 'none';
            svgFemale.style.display = 'block';
            svgMale.value = '';
        }
    }


    // Add an event listener to the radio buttons
    document.querySelectorAll('.my-radio').forEach(function (radio) {
        radio.addEventListener('change', function () {
            showSelectedSVG(this.value);
        });
    });

</script>

<script>
    // Toggle Accordion Item #1
    function toggle(event) {
        var myCollapse = document.getElementsByClassName('collapse')[0];
        var bsCollapse = new bootstrap.Collapse(myCollapse, {
            toggle: true
        });
    }
</script>

{{ endblock }}